*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body{
    width: 100vw;
    height:100vh;
  display: flex;
  background: #fcf5f5;
}

.wrapper{
    width: 100%;
}

h1{
    text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
  color: black;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(235, 235, 242);
    border-radius: 18px;
    margin: 10px;
    padding: 8px;
    flex-wrap: wrap;
}


.card{
    display: flex;
    justify-content: center;
   flex-direction: column;
    align-items: center;
    /* background-color: blanchedalmond; */
     background: #e7efe8;   /* soft pastel */
      border: 1px solid rgba(0,0,0,0.05);
       width: 260px;
  padding: 22px;
  border-radius: 18px;
}

.card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f9d5b;
}

.card hr {
  border: none;
  height: 1px;
  background: rgba(0,0,0,0.1);
}


.btn{
  margin-top: 10px;
  padding: 8px 14px;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 10px;
  font-size: 0.9rem;
}